body {

    background-color: rgb(119, 178, 226);
    font-family: Arial, Helvetica, sans-serif;
}


#title {

    text-align: center;
}

.link1 {

    text-align: center;
}

.explication {

    text-align: center;
    width: 441px;
    margin-top: 10%;
}

.img1 {

    float: right;
    height: 10px;
}

.img2 {

    margin-top: 30px;
}